# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
/addons/godot-rapier3d/bin/godot_rapier.wasm filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.android.aarch64-linux-android.so filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.android.armv7-linux-androideabi.so filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.android.i686-linux-android.so filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.android.x86_64-linux-android.so filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.ios.arm64.framework/libgodot_rapier.ios.arm64 filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.ios.x86_64.framework/libgodot_rapier.ios.x86_64 filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.linux.aarch64-unknown-linux-gnu.so filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.linux.armv7-unknown-linux-gnueabihf.so filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.linux.i686-unknown-linux-gnu.so filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.linux.x86_64-unknown-linux-gnu.so filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.macos.framework/libgodot_rapier.macos.dylib filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.windows.aarch64-pc-windows-msvc.dll filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.windows.i686-pc-windows-msvc.dll filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/libgodot_rapier.windows.x86_64-pc-windows-msvc.dll filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier3d/bin/wasm-nothreads/godot_rapier.wasm filter=lfs diff=lfs merge=lfs -text
/demo.tscn filter=lfs diff=lfs merge=lfs -text
